@font-face {
    font-family: "Helvetica Neue";
    src: url(../../assets/fonts/HelveticaNeueLight.otf) format("openType");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Helvetica Neue";
    src: url(../../assets/fonts/HelveticaNeueBold.otf) format("openType");
    font-weight: 600;
    font-style: bold;
  }
  
  @font-face {
    font-family: "Helvetica Neue";
    src: url(../../assets/fonts/HelveticaNeueMedium.otf) format("openType");
    font-weight: 400;
    font-style: normal;
  }