$color-telus-purple: #4B286D;
/* Usage: Headings, secondary button background/outline, chevron links */

$color-telus-green: #66CC00;
/* Usage: Decorative elements (graphs/charts). Use only for decorative items (when it doesn't need to be colour accessible) */

$color-accessible-green: #2B8000;
/* Usage: Primary button backgrounds/outline, text links */

$color-white: #FFFFFF;
/* Usage: Page background, inverted links/buttons */

$color-card-grey: #F4F4F7;

$color-page-nav:#676e73;

$color-button-dark: #414547;

$color-grey-shark: #2A2C2E;
/* Usage: Sub headings (H3, H4), body text */

$color-grey-shuttle: #54595F;
/* Usage: Colour for default links */

$color-grey-raven: #71757B;
/* Usage: Form input border */

$color-grey-gainsboro: #D8D8D8;
/* Usage: Horizontal, vertical and wave dividers */

$color-grey-athens: #F7F7F8;
/* Usage: Helper/disabled state background */

$color-lavender-blush: #FFF6F8;
/* Usage: Notification/error messaging background */

$color-panache: #F4F9F2;
/* Usage: Success messaging background */

$color-white-lilac: #F2EFF4;
/* Usage: Branded messaging background */

$color-cardinal: #C12335;
/* Usage: Error body text and icons */

$color-rajah-dark: #8C5415;
/* Usage: Warning notification alert icon */

$color-rajah: #FACA69;
/* Usage: Warning notification border */

$color-rajah-light: #FFF9EE;
 /* Usage: Warning notification background */