.hero {
    &__carousel-items {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__carousel-item {
        position: relative;
        min-width: 100%;
        height: 100vh;
        transition: all 0.5s linear;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.item1{
    background-image: url("../../assets/images/alien-romulus.png");
}

.item2 {
    background-image: url("../../assets/images/beetlejuice.png");
}

.item3 {
    background-image: url("../../assets/images/deadpool-wolverine.png");
}

.item4 {
    background-image: url("../../assets/images/the-wild-robot.png");
}

.item5 {
    background-image: url("../../assets/images/wicked.png");
}