* {
    box-sizing: border-box;
}


.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__package {
        // margin: 1rem;
        &--name {
            margin: 1rem 0;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__shows {
    display: flex;
    flex-direction: row;

    &--image {
        height: 10rem;
        width: 7rem;

    }
    &--card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &--title {

        padding: 1rem 0;
    }
    
    &--grid {

    display: flex;
    flex-direction: row;
}
}

&__description {
    margin: 1rem;
    padding: 1rem;
}
}