@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins' as *;

   
    .sub-genre {

        display: flex;
        margin: 20px 75px 20px 70px;
        background-color: $color-card-grey;
        border-radius: 6px;
        padding: 31px;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__question-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
    
        &__question-description {
            font-size: 16px;
            margin-bottom: 20px;
        }
    
        &__answer-list {
            display: flex;
            list-style-type: none;
            flex-direction: row;
            flex-wrap: wrap; 
            gap: 30px;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            width: 100%;
        }
    
        &__answer-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            &--selected {
                background-color: rgba($color-telus-green, 0.3); 
            }
        }

    
        &__answer-package {
            display: flex;
            gap: 10px;
        }
    
        &__answer-image {
            width: 100px;
            height: 150px;
            object-fit: cover;
            border-radius: 4px;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
    
        &__button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            background-color: #4b286d; /* Purple color */
            color: #fff;
            cursor: pointer;
            border: none;
    
            &:hover {
                background-color: #3d2359; /* Darker purple */
            }
        }
    }
